[2014-12-10 19:07] leeper opened #1 "Start from Hadley's code"
[From SO](http://stackoverflow.com/questions/13424660/r-httr-and-ec2-api-authentication-issues):

[code]

[2014-12-23 16:55] #1 closed, assigned to nobody

[2015-07-25 07:32] leeper opened #2 "Add test suite"
Simplest thing is to replicate [the Python examples from AWS documentation](http://docs.aws.amazon.com/general/latest/gr/signature-v4-test-suite.html).

And the individual steps described [here](http://docs.aws.amazon.com/general/latest/gr/sigv4_signing.html).

[2015-08-04 23:55] dennari opened #3 "file.exists check breaks raw bodies"
Changes introduced in the commit ad8e9ba9fdf7e1b501d60127da41bca5c6f3bf6c break the signature generation if the `request_body` is not a character vector, e.g. a raw vector.

[2015-08-05 08:01] #3 closed

[2015-08-05 08:02] leeper commented on #3
Thanks! I've submitted a patch. Let me know if that doesn't solve the problem.

[2015-08-06 18:17] leeper opened #4 "Signature match error using headers"
Test for **aws.s3** [fail when trying to pass headers](https://github.com/cloudyr/aws.s3/issues/20#issuecomment-128162949). The API responds with a "SignatureDoesNotMatch" error.

[2015-08-06 19:09] #2 closed

[2015-08-19 23:47] cboettig opened #5 "query parameter to signature_v4_auth assumes all queries are strings"
An acceptable query list to httr can include integers, e.g. `query = list("max-keys" = 2)`.  This causes ` signature_v4_auth` throws the relatively obscure error `Error in strsplit(URL, "") : non-character argument` even though httr is capable of handling query lists of mixed type and handles the conversions correctly.

[2015-08-20 02:19] leeper commented on #5
The problem is [here](https://github.com/cloudyr/aws.signature/blob/master/R/v4.R#L21-L22). `utils::URLencode` apparently only accepts a character `URL` argument. Should be a simple fix to coerce the query string values to character before URL-encoding.

[2015-08-31 17:22] dworzanski opened #6 "No License"
There is no license provided for this excellent work (or any of the Cloudyr projects I looked at). Please consider a GPL or BSD/MIT license. Thank you.

[2015-08-31 17:26] leeper commented on #6
R packages include license information in the DESCRIPTION file rather than a separate LICENSE file. All cloudyr packages are GPL-licensed.

[2015-08-31 17:26] #6 closed

[2015-08-31 17:32] dworzanski commented on #6
Okay, thanks. Sorry about the bug -- I'm not too experienced with R.

[2015-08-31 17:42] leeper commented on #6
No worries!

[2015-09-20 17:27] #5 closed

[2015-11-17 08:03] leeper opened #7 "Trigger dependent builds"
Use travisci to trigger dependent builds of other cloudyr AWS packages

For the .travis.yml here:

[code]

Plus, need to encrypt a valid Travis-CI token.

For the .travis.yml at cloudyr/aws.s3, etc., use the GitHub version of aws.signature:

[code]

[2016-05-22 16:25] #7 closed

[2016-08-08 15:15] leeper opened #8 "Read .aws/credentials file"
Add functionality to sign based upon [.aws/credentials files](https://blogs.aws.amazon.com/security/post/Tx3D6U6WSFGOK2H/A-New-and-Standardized-Way-to-Manage-Credentials-in-the-AWS-SDKs) of the form:

[code]

[2016-08-09 09:44] #8 closed

[2016-08-09 09:49] leeper opened #9 "Switch to roxygen2 docs"

[2016-08-09 09:49] #4 closed

[2016-09-04 21:28] kylelundstedt opened #10 "read_credentials and use_credentials issue"
Hi Thomas,

I just downloaded your cool `aws.signature` package, and quickly gave it a try.  As the R console output below demonstrates, there was no joy using either the `read_credentials` or `use_credentials` functions:

[code]

The `canonical_request`, `signature_v2_auth`, `signature_v4`, `signature_v4_auth`, and `string_to_sign` functions are all available.  Also, I've replicated the issue on

[2016-09-05 06:53] leeper commented on #10
Thanks. This should now be fixed. Can you try reinstalling?

[2016-09-05 17:40] kylelundstedt commented on #10
Works like a charm; thanks so much!

[2016-09-05 17:40] #10 closed

[2016-12-19 10:23] leeper opened #11 "Improve checking for credentials"
Add `check_for_keypair()` function that does the following:

1. Checks whether key, secret key, and session token have been specified. If so, uses them.
2. If missing, check environment variables.  If so, uses them.
3. If missing, check a central credentials file using `use_credentials()`.  If so, uses them.
4. If missing, try to assume role from EC2 metadata via:

[code]

This shouldn't set envir

[2017-01-17 01:46] kadrach commented on #11
This would be incredibly useful, we're running into this with SQS now as well ;)

[2017-01-19 04:37] kadrach opened #12 "Default R tilde expansion on Windows points to the wrong directory"
Base R on Windows:

[code]

This causes problems [here](https://github.com/cloudyr/aws.signature/blob/8a3921a8269fa0861e08faa72c335fc3eb51487a/R/read_credentials.R#L1), as the file is generally located in `%USERPROFILE%\.aws\credentials`, e.g.  `C:\Users\kadrach\.aws\credentials`.

[2017-01-19 08:15] #9 closed

[2017-01-19 08:15] #12 closed

[2017-01-19 08:15] leeper commented on #12
Thanks!

[2017-03-17 20:43] kylelundstedt opened #14 "Parameter Store as dotfile alternative"
Hi Thomas,

Great work on the 'awspack' packages.  We're using them quite a bit!
Just a thought for future development - keeping AWS creds in dotfiles has drawbacks when working with a team. The new Parameter Store in AWS Systems Manager looks like a cool alternative.

Cheers
Kyle

https://aws.amazon.com/blogs/mt/interesting-articles-on-ec2-systems-manager-parameter-store/
https://stp5.net/blog/po

[2017-03-18 14:31] leeper commented on #14
Thanks, looks interesting.

[2017-04-07 07:02] ananthu1834 commented on #11
we're running into this as well ;)
 👍 1

[2017-04-10 10:01] leeper commented on #11
Quick update: I'm working on a draft of this on the [`credentials-walk` branch](https://github.com/cloudyr/aws.signature/tree/credentials-walk) in the form of a `locate_credentials()` function that walks through sources of credentials in an order similar to boto (without the boto-specific configuration file sources). Any feedback welcome; I wouldn't advise using it until it's folded into master.

[2017-04-18 16:17] davidski opened #15 "parse_credentials fails to parse credentials files without spaces around equals-sign"
Per https://github.com/cloudyr/aws.signature/blob/master/R/read_credentials.R#L67, `parse_credentials` is expecting key-value pairs separated by a ` = `. This causes keys without the space (i.e. `KEY=VALUE`) to fail to parse.

AWS documentation is not fully consistent on the file format with the Boto docs specifying no spaces (http://boto3.readthedocs.io/en/latest/guide/configuration.html) and som

[2017-04-18 16:34] #15 closed

[2017-04-18 16:34] leeper commented on #15
Thank you!

[2017-05-08 06:56] alexsanjoseph commented on #11
@leeper - We have the problem as well. Your code looks great. Is it ready for master yet?

[2017-05-25 16:54] andyhd commented on #11
Hi, we need to get credentials from the EC2 metadata IAM role, and I've written [some code that emulates how Boto handles credentials](https://github.com/ministryofjustice/aws.signature/commit/f28515fe0682e4fb331957fc0c894bfb7ba82958) which works reasonably well. Would you like me to make a PR?

[2017-05-26 10:22] leeper commented on #11
Hi, @andyhd. Thanks. That looks pretty similar (in broad spirit) to what I have on [the `credentials-walk` branch](https://github.com/cloudyr/aws.signature/compare/credentials-walk) ([noted above](https://github.com/cloudyr/aws.signature/issues/11#issuecomment-292904991)). I'm inclined to merge in my approach but if there's something obviously missing there, which your implementation handles bette

[2017-05-26 14:29] andyhd commented on #11
Hi @leeper - yes, I referred to your branch while writing mine. We need this right now and your branch seems not quite finished, so I'm afraid I've duplicated some of your effort!

[2017-06-19 14:05] #11 closed

[2017-06-19 14:13] leeper commented on #11
This implementation has been finalized based on a slightly modified precedence for sources of credentials (see documentation).

[2017-06-19 23:47] turqoisehat opened #16 "Can't get this working sorry if this is not the appropriate place to ask"
Would love to get signature_v2_auth working for Amazon Product API (MWS, not product advertising).

I am doing this:
signature_v2_auth(datetime = '2017-06-19T22%3A19%3A12Z', verb = 'POST', service = 'mws.amazonservices.com', path = '/', query_args = '5051892198158')

[2017-06-20 09:08] leeper commented on #16
`query_args` should be a named list of the arguments you're trying to pass - `SellerId`, `MarketplaceId`, etc. See the documentation in `? signature_v2_auth` for examples of this.

[2017-06-22 04:06] turqoisehat commented on #16
Excellent, thank you for clarifying that. So now I am trying this:

[code]

No errors or anything, but the signature doesn't seem to match. I can't figure out where I went wrong this time based on the documentation.

[2017-06-22 14:56] leeper commented on #16
Can you link to the scratchpad that you're validating against?

[2017-06-29 20:47] turqoisehat commented on #16
https://mws.amazonservices.com/scratchpad/index.html

[2017-06-30 16:00] leeper opened #17 "Signature functions should return region"
Given `locate_credentials()` might return region, or use the default, that value should be returned.

[2017-07-01 07:34] #17 closed

[2017-07-11 22:28] turqoisehat commented on #16
I should add I am using the "products" drop down and "ListMatchingProducts" as the operation.

[2017-07-18 18:16] wenjiaz opened #18 "Use the /.aws/config file for region"
Since credentials can be obtained from the `~/.aws/credentials` file, I was wondering if the default-region parameter can also be obtained from the AWS CLI config file `~/.aws/config`?

[2017-07-18 19:18] leeper commented on #18
This is not currently possible. Would it be useful?

[2017-08-05 01:33] wenjiaz commented on #18
Sorry for just getting back here! I think it'll be useful to incorporate it if it is possible because it is far easier to maintain region configuration across both AWS CLI and R scripts this way.

If it's not doable, I suggest at least making a note of it in the documentation. I had assumed the library would pull from the config file since the credentials were automatically pulled too, and stumble

[2017-09-21 21:51] kenahoo opened #19 "read_credentials() can't parse nested values"
I have a section in my `~/.aws/credentials` file that looks like this:

[code]

That fails to parse properly:

[code]

http://boto3.readthedocs.io/en/latest/guide/configuration.html#configuration-file says that this is a "nested configuration value", but doesn't give much more guidance - I couldn't find the "Nested Configuration section" it mentions.  However, this format does get parsed properly

[2017-09-21 21:54] kenahoo commented on #19
By the way - the reason I'm running into this is that I'm trying to use role-based authentication, and running `aws.signature::use_credentials(profile = "devrole")` is having no effect.  I suspect (from looking at the code) that even if the file were correctly parsed, `use_credentials` wouldn't actually handle role-based profiles like this without some further changes, right?

[2017-10-10 10:06] kesor commented on #19
@kenahoo I tried a workaround like in the following code snippet, looks like it gets the STS credentials (as it should). My problem with it is that the created signatures from these credentials are incorrect. YMMV

[code]

[2017-10-10 10:18] kesor commented on #19
@kenahoo in most packages, like `aws.cloudtrail`, `aws.iam`, etc... the `session_token` is added to the request after the credentials are parsed. For example in `stsHTTP` you have the `session_token` argument default to `NULL`, and its fine when it is passed like this to `signature_v4_auth` but it is also used in `stsHTTP` itself and they are not loading the correct value from `locate_credentials`

[2017-11-05 22:27] dineshj3d opened #20 "aws.signature pkg - cross account access with temporary tokens"
See below. Does aws.signature pkg support cross account profiles? I have situation where there is a special login profile (abcdef) which has a temporary token set(this token is periodically refreshed a utility). I need to access resources (like S3, SQS) in  account with Profile marketingadmin. Both these profiles are separate accounts. When I try say list_queues etc, I get invalid token.

Any help

[2017-11-13 20:02] gregmacfarlane opened #21 "IAM role credentials for use within docker container"
I have an EC2 instance with an attached IAM role that should allow me to download a file from a bucket. In the bare instance, I can run

[code]

and it works fine. It also works from inside the docker container, running a bash terminal through Rstudio. I can even locate appropriate credentials through `aws.signature` and `aws.ec2metadata` !

[code]

But when I call `aws.signature::use_credentials(

[2017-11-14 20:47] josiekre commented on #21
`aws.s3::get_object()` calls `aws.signature::locate_credentials()` as far as I can tell, so it should work.

[2017-11-14 21:24] josiekre commented on #21
I think this will be fixed using the dev version of `aws.s3`.

`aws.s3::get_object()` ultimately calls `aws.s3::s3HTTP()`.

With the CRAN version of `s3HTTP()`, `aws.signature::locate_credentials()` is never called.

[code]

With the version on the `master` branch [right now](https://github.com/cloudyr/aws.s3/blob/master/R/s3HTTP.R),

[code]

[2018-01-05 02:41] razvanm opened #23 "Support for IAM roles for ECS tasks"
A task in ECS can use a role that is different from the VMs that are part of the ECS cluster. If a task is configured with a task role then the environment variable will be populated with a `AWS_CONTAINER_CREDENTIALS_RELATIVE_URI` variable that which can be used like this to retrieve a set of temporary credentials:

    curl 169.254.170.2$AWS_CONTAINER_CREDENTIALS_RELATIVE_URI

Reference: https://

[2018-01-05 08:39] leeper commented on #23
Do you want a function to be able to grab these or do you want it to happen automatically on function calls?

[2018-01-05 14:52] razvanm commented on #23
I would expect both `locate_credentials` to return them and also for the downstream functions (the ones from aws.s3 for example) to start working.

[2018-01-05 15:11] leeper commented on #23
Makes sense.

[2018-03-13 16:37] jennaallen opened #24 "Possible to get presigned URL for use in Shiny?"
Please specify whether your issue is about:

 - [ ] a possible bug
 - [x] a question about package functionality
 - [ ] a suggested code or documentation change, improvement to the code, or feature request

I am building a shiny app that uses images and pdf documents from a private s3 bucket. Can I use the `aws.signature` package to get a presigned URL to plug into my shiny code (see below)? I thi

[2018-03-13 17:14] leeper commented on #24
Why not just use the aws.s3 package for this? The `get_object()` function seems like what you want.

[2018-03-13 17:42] jennaallen commented on #24
Ok, this is what I have been doing, but was unsure how to handle the raw vector type so I thought a pre-signed url might be easier to figure out.

For images, I can display them with the following using the magick package

[code]
But I am unsure how to handle pdfs, since I want to keep them in the pdf format rather than converting to an image. Do you know how I can create a pdf from the raw vector

[2018-03-13 21:10] leeper commented on #24
You can save the raw vector locally using `writeBin()` and then handle it as you would any file.

[2018-03-14 02:26] jennaallen commented on #24
Ok, I'll give that a try! Thanks for your help!

[2018-03-28 17:59] jeremywzh opened #25 "use_credentials get wrong secret key"
after I run "aws.signature::use_credentials()", it does read the information from ~/.aws/credentials. However, the secrete key string misses the last character. I don't know why. Everything else is correct, it just clip out the last character. Because of that, function like s3read_using reports an error.

I manually corrected the secrete key by using: Sys.setenv("AWS_SECRET_ACCESS_KEY"=Correct Key

[2018-04-02 20:11] leeper commented on #25
Can you profile a reproducible example? For example, create a `credentials` file with some fake credentials that produces the error. The automatic testing in place does not produce this error, so I'll need more information in order to be able to bug check and apply a patch.

[2018-04-02 20:13] leeper commented on #24
I'm closing this. Feel free to post again if there's more I can help with and I will reopen.

[2018-04-02 20:13] #24 closed

[2018-04-03 10:18] leeper commented on #19
@kenahoo So, that looks like a config file, not a credentials file. At present, there's no support here for config files. I'm not sure if I'll add them as it introduces a ton of further complexity but I'm open to discussion and PRs.

[2018-04-03 11:11] leeper opened #26 "Tests and examples are running slow"
All tests are passing on CRAN but they are really slow. Something is taking much longer than it should.

[code]

[2018-04-05 15:15] jeremywzh commented on #25
It happens when there is no newline character at the end of the aws_secret_access_key

[2018-04-05 15:18] leeper commented on #25
Again, I need a reproducible example as I don't see this in the unit tests.

[2018-04-10 08:39] #26 closed

[2018-04-10 09:07] #25 closed

[2018-04-10 09:08] leeper commented on #25
Thank you for the reproducible example. This should now be fixed and a complete test is in place to prevent it in the future.

[2018-05-22 07:53] kesor commented on #19
@leeper it is not the config file, it IS the credentials file like @kenahoo specified in his example in the OP.

[2018-05-22 08:00] leeper commented on #19
@kesor Can you show me some documentation for this? Neither the [official AWS docs](https://docs.aws.amazon.com/cli/latest/userguide/cli-config-files.html) nor [the boto docs](http://boto3.readthedocs.io/en/latest/guide/configuration.html#shared-credentials-file) show that these fields are part of `credentials`. The [latter shows that as part of `config`](http://boto3.readthedocs.io/en/latest/guid

[2018-05-22 08:12] kesor commented on #19
@leeper for me it just works, probably because aws-cli and boto and other tools just treat `~/.aws/config` and `~/.aws/credentials` as a single file or something. It doesn't matter in which file I put the profile definitions, just works.

[2018-05-22 09:11] leeper commented on #19
Okay. Thanks.

[2018-05-23 03:51] mriosopi opened #29 "Access denied with use_credentials()"
Hi, I been having a problem with use_credentials().

My variables in `/.aws/credentials`are fine:
"AWS_ACCESS_KEY_ID"
"AWS_SECRET_ACCESS_KEY"
"AWS_DEFAULT_REGION"

I also set the Region to us-west-2, changing the default.

If I make use of `aws s3 ls ` in the terminal it works fine, but R its not working,

Any ideas of what could be the problem?

This  is the code I'm running:

[code]

And I get t

[2018-06-02 14:31] leeper commented on #29
Can you give me the output of `sessionInfo()`? And does `locate_credentials()` give the values you expect?

[2018-06-24 14:23] dbast opened #31 "Release of new version"
Can you please release a new version (also to cran), with the accumulated small fixes / enhancements.

This makes the life a lot easier for those who do not directly install from github.

Also contributing the current version of the package to conda-forge is then easier.

Many thanks for your work!

[2018-06-24 17:08] #31 closed

[2018-07-26 11:41] #29 closed

[2018-07-26 11:58] #23 closed

[2018-07-28 07:22] leeper opened #32 "Use config package to store credentials"
From @chrowe via https://github.com/cloudyr/aws.s3/issues/240

Please specify whether your issue is about:
 - [ ] a possible bug
 - [x] a question about package functionality
 - [x] a suggested code or documentation change, improvement to the code, or feature request

Is it possible to retrieve S3 credentials using the [config package](https://cran.r-project.org/web/packages/config/vignettes/intro

[2018-07-28 07:38] leeper opened #33 "locate_credentials() is slow"
Example from https://github.com/cloudyr/aws.s3/issues/166

Report from Vitalina Komashko:

[code]

This runs about 10x slower than the AWS CLI. Issue may be with `locate_credentials()`:

[code]

[2018-08-07 09:27] leeper commented on #33
Ideas for refactoring:

 -  [ ] convert `locate_credentials()` into a set of smaller functions called sequentially if previous function returns NULL
 - [ ] `locate_credentials()` is called twice in a lot of packages, once explicitly and once implicitly. Disabling second call (by adding a `locate = FALSE` to `signature_v4_auth()` will prevent the second search
 - [ ] add "requests" functionality th

[2018-08-07 14:16] leeper commented on #33
That's a decent improvement from 0.4.4:

[code]

To 0.4.5:

[code]

[2018-08-07 14:17] leeper commented on #33
We also get a decent improvement on `signature_v4_auth()` from v0.4.4:

[code]

to v0.4.5:

[code]

[2018-08-24 08:13] jon-mago opened #34 "ECS Credentials are never* used"
The current order of checking for EC2 then ECS credentials means that ECS credentials are never* used, as an ECS container will almost always be running on an EC2 host.  The container credentials can give a job more, or different permissions compared to the EC2 instance.

I assume this change in ordering was made as the previous ECS detection was broken (See cloudyr/aws.ec2metadata#3).  Once that

[2018-11-05 21:07] leeper opened #36 "Seeking new maintainer!"
This package is not being actively maintained. If you're interested in contributing or taking over, please express your interest here.

[2018-11-09 19:03] jamesdalg commented on #29
I'm having a similar issue. Here is my sessioninfo:

R version 3.5.1 (2018-07-02)
Platform: x86_64-w64-mingw32/x64 (64-bit)
Running under: Windows >= 8 x64 (build 9200)

Matrix products: default

locale:
[1] LC_COLLATE=English_United States.1252  LC_CTYPE=English_United States.1252    LC_MONETARY=English_United States.1252 LC_NUMERIC=C
[5] LC_TIME=English_United States.1252

attached base packages

[2018-11-15 15:11] binary-finary commented on #34
We are stuck on this issue as well.

[2018-11-26 21:22] robbfitzsimmons commented on #16
Bumping this way-old thread as I've been getting this working (piece by piece) with several MWS API endpoints over the last few weeks, and it would be great to document a more robust way. @turqoisehat it's likely way too late to be helpful, but I have been able to get the ListMatchingProducts endpoint working with the following:

[code]

However, endpoints that don't follow exactly this protocol (

[2018-12-13 09:04] jon-mago commented on #36
Hi @leeper, I would be willing to maintain this project in addition to https://github.com/cloudyr/aws.signature .

I'm sorry to hear you're no longer able to do so, but thank you for writing all of these in the first place.

[2019-04-02 09:54] lissahyacinth opened #39 "locate_credentials bug causes failure to install on R3.5"
Possible bug in installation from Git master - I think it's due to the list in credentials_to_list

[code]

As adding in else statements with NULLs for key, secret, session_token, etc, fixes the installation. Added example on PR.

[code]

[2019-04-02 09:58] lissahyacinth commented on #39
Oops, added this to aws.signature rather than aws.secrets.

[2019-04-16 00:28] ColmanHumphrey commented on #36
hey @leeper @jon-mago, how's progress on finding a new maintainer?

[2019-04-16 20:03] leeper commented on #36
Hi @jon-mago If you're willing to do that, please send a PR to change the maintainer field to you and I'll give you write access.

[2019-04-19 20:26] colman-humphrey commented on #33
I had an issue with very slow loads, permeating even calling `library(aws.s3)`, since that would load `aws.signature`. On my end, the issue, was that `check_ec2()` is the bottleneck, since it makes a URL call-out that I guess gets retried a bunch of times? And this is called in `.onLoad`. Either way, it was taking a long time. I'm not sure if other people have this issue, as I only got it as long

[2019-04-23 08:36] jon-mago commented on #36
Closing this now I've merged the PR

[2019-04-23 08:36] #36 closed

[2019-05-03 18:10] micwalk commented on #33
I opened a ticket within the aws.ec2metadata repo here for the slow `check_ec2()` call: https://github.com/cloudyr/aws.ec2metadata/issues/7

[2019-05-08 15:46] jon-mago commented on #34
This should now be fixed (in the 0.5.0 release)

[2019-05-08 15:46] #34 closed

[2019-05-09 20:21] muschellij2 opened #42 "Credentials has extra `[`"
Please specify whether your issue is about:

 - [X] a possible bug
 - [ ] a question about package functionality
 - [ ] a suggested code or documentation change, improvement to the code, or feature request

If you are reporting (1) a bug or (2) a question about code, please supply:

 - [a fully reproducible example](http://stackoverflow.com/questions/5963269/how-to-make-a-great-r-reproducible-exam

[2019-06-06 07:24] weisisheng commented on #39
Probably breaking every rule in the book refreshing this but why would I still be getting the same error after the merge?

Tried installing from github, local .zip and CRAN. Even checked to code is the latest, line by line.

---

Error: package or namespace load failed for ‘aws.signature’:
 .onLoad failed in loadNamespace() for 'aws.signature', details:
  call: credentials_to_list(cred, region = r

[2019-06-06 10:33] lissahyacinth commented on #39
@jon-mago That PR only seems to resolve issues regarding the ~/.aws/credentials file. My best guess is that you *do* have an aws credentials file, but that it doesn't have any keys in it.

I'm also struggling to replicate the issue. Could you confirm if you have that file at that location, or if you have any of the following environmental variables by running Sys.getenv() with any of the strings b

[2019-06-06 10:36] jon-mago commented on #39
Hi @lissahyacinth , I think you meant that for @weisisheng  (I just reopened it so I could keep track of new progress on a closed issue). But thank you for helping to debug this, regardless 😃

[2019-06-06 18:03] halldc commented on #18
@leeper I would also find this very useful

[2019-06-26 07:38] stelsemeyer commented on #39
@jon-mago  I have trouble loading `aws.signature` in a clean R session, raising the same error as mentioned above. I hotfixed this in a fork [here](https://github.com/stelsemeyer/aws.signature/pull/1/files), not sure if this is the best way to fix it though:

[2019-07-01 15:30] zdk123 commented on #39
@lissahyacinth says:

This is intended in some cases. For instances, we have a series of profiles with a source profile and a role arn that should not have it's own keys. Installs of `aws.signature` are failing with the OP's error, but perfectly kosher for the aws-cli.

[2019-07-02 10:09] jon-mago commented on #39
I think that's the best fix I can think of.  Though looking over the code, it's not clear what purpose that `.onLoad()` actually has.  It doesn't seem to prevent any future calls to `locate_credentials()` as there's no caching of credentials that I can see, or anything like that.

Never the less, can you please submit that patch as a PR to this repo too, please?

[2019-07-08 12:25] #42 closed

[2019-07-16 08:23] jon-mago commented on #33
Hopefully with the [0.2.0 release](https://github.com/cloudyr/aws.ec2metadata/releases/tag/0.2.0) of `aws.ec2metadata` this should be improved.  The timeout for checking metadata has been decreased from the curl default of 10s to 1s (to bring it inline with boto3).

[2019-07-25 15:36] zdk123 commented on #39
Pinging @stelsemeyer...  any change of opening a PR with your fix? I'd appreciate getting this fixed ASAP.

[2019-07-26 15:55] jon-mago commented on #39
If not, I'll just add the changes and add a credit.

[2019-07-31 23:04] jyoungs commented on #33
Hey @jon-mago - that timeout will help. What would be better (for us) is if aws.signature followed the typical credential precedence structure (check .aws/credentials before Instance/Container IAM Roles).

Seems pretty consistent:
- CLI: https://docs.aws.amazon.com/cli/latest/userguide/cli-chap-configure.html
- Python: https://boto3.amazonaws.com/v1/documentation/api/latest/guide/configuration.htm

[2019-08-01 09:41] jon-mago commented on #33
I'm not sure why it's different.  I suspect the answer is merely "because it was written that way quite a while ago".

While it would be a kind of breaking change to "put the order right", I'm not averse to that, as I suspect it will break few things in practice.  I will have a think on how to offer the standard order as an option, so it can be a more gradual transition.

[2019-08-07 15:11] jon-mago commented on #39
This should be fixed.  I'll get a release out soon

[2019-08-07 15:11] #39 closed

[2019-09-11 16:48] brokenjacobs opened #44 "aws.signature inserts us-east-1 breaking some third party object stores"
Please specify whether your issue is about:

 - [* ] a possible bug
 - [* ] a suggested code or documentation change, improvement to the code, or feature request

aws.signature always inserts us-east-1 if no region is specified. However there is no way to specify 'no region' in url requests.

Amazon assumes us-east-1 is your region if you don't include it in the path based or vhost based access to

[2019-09-16 12:20] jon-mago commented on #44
Hi

Thanks for this bug report.  Can you be more specific about a 3rd party object store which breaks as a result of this, I'd like to have something to test against...

[2019-09-16 16:39] brokenjacobs commented on #44
We are using EMC elastic cloud storage, I belive that minio would be affected by this as well. The line in question is here:
https://github.com/cloudyr/aws.signature/blob/a8fd855a3fac6e6bebdc709903931d1d5b663cb5/R/locate_credentials.R#L377

Amazon lists valid endpoints for aws services here:
https://docs.aws.amazon.com/general/latest/gr/rande.html
Note that us-east-1 is not required in the path or

[2019-09-18 21:10] brokenjacobs commented on #44
would you be open to a pull request to resolve this?

[2019-09-20 09:06] jon-mago commented on #44
Yes, though I think the fix might need to be at the `aws.s3` level (which I don't maintain). For example `aws.sqs` does need the region to construct a correct URL, so it can't just be removed from this package without that package also being changed to ask for the region some other way.

[2019-09-20 11:13] brokenjacobs commented on #44
Understood. In that case I would argue that this logic should be completely removed from aws.signature and taken care of by the respective consumers of the library. The signature package shouldn't care about endpoint URL's at all. Of course this presents a larger problem that more libraries have to be updated than just aws.signature.

[2019-09-23 09:06] jon-mago commented on #44
This package has to care about the region, it is needed for the signature (see [signature docs](https://docs.aws.amazon.com/general/latest/gr/sigv4-signed-request-examples.html)) as well as the endpoint url.  Also, it's the package which is looking around the config files.  Packages should be careful in how they construct URLs based on the information though.

One thing I have noticed is that the

[2019-09-24 11:13] brokenjacobs commented on #44
We are in agreement. I'm not saying that the library should not care about region, just that it shouldn't attempt to add one when an empty region is specified.

[2019-10-12 15:55] namelessjon opened #45 "Improve handling of credential reads in tests"
The current test handling could be improved by using mocks to stub out the necessary file system code.  At the moment, tests can't be run on my machine as `/tmp` is on another file system.

[2019-10-15 07:01] raymondben commented on #44
Does it make sense that `locate_credentials` should use the default region if it has not been specified (i.e. it is NULL) but that it should not do this if the user specified `locate_credentials(region = "")` (just as @brokenjacobs said).
If so, that's an easy fix (I think): replace `is_blank` with `is.null` at https://github.com/cloudyr/aws.signature/blob/master/R/locate_credentials.R#L346

[2019-10-20 08:55] namelessjon commented on #44
Realised my PR reversed the logic originally, and allowed NULL regions.  This now allows empty regions.

[2019-11-07 21:08] brokenjacobs commented on #44
any chance of getting this merged?

[2019-11-22 01:15] bneigher opened #49 "Credentials not correctly assuming defaults in aws lambda context"
- [x] a possible bug
 - [ ] a question about package functionality
 - [ ] a suggested code or documentation change, improvement to the code, or feature request

I'm using the aws.lambda package INSIDE an aws lambda (custom R runtime) and I'm seeming to have difficulties invoking a lambda getting:
UnrecognizedClientException The security token included in the request is invalid

I believe it has so

[2019-11-22 10:01] #44 closed

[2019-11-22 10:02] #45 closed

[2019-11-22 10:12] jon-mago commented on #49
Hi there, thanks for raising this issue.  Just to confirm, you're saying that from the lambda function, you can perform operations with `aws.s3` but not with `aws.lambda`?  If so, I'm slightly puzzled as to what is going on.

I suspect the requirement for specifying the region comes about from `aws.signature` not reading `.aws/config` to get config settings, but I don't see why that would cause an

[2019-12-30 14:46] ryanb8 opened #50 "Add Container Credentials To Provider Chain"
Please specify whether your issue is about:

 - [ ] a possible bug
 - [ ] a question about package functionality
 - [x] a suggested code or documentation change, improvement to the code, or feature request

Cloudyr does not support container_providers ([boto3 class](https://github.com/boto/botocore/blob/13362410ce8aaa5d35b4ffb056c6c5a58d659bb3/botocore/credentials.py#L1792)) in its credential chai

[2020-01-07 11:14] jon-mago commented on #50
Hi @ryanb8

This is handled in [locate_credentials](https://github.com/cloudyr/aws.signature/blob/a6520d4f8cc2a0d0d5c082997056e34792d9729d/R/locate_credentials.R#L120) which is checked before the EC2 metadata.

If this isn't working, then that's a bug and please let me know.

[2020-01-07 11:14] #50 closed

[2020-01-07 13:27] ryanb8 commented on #50
Closing the loop here:
- `aws.signature` requires the `aws.ec2metadata` package to access ECS metadata and access credentials from this source.
- `aws.ec2metadata` is not a dependency of `aws.signature`, but just a suggestion. Default usage of `install.packages` for installation of `aws.signature` or another package that requires `aws.signature` WILL NOT install `aws.ec2metadata`.
- `aws.signature

[2020-01-07 13:43] jon-mago commented on #50
That's a fair call on (some kind of) warning, especially as a "once on package load"

[2020-01-07 14:14] jon-mago opened #51 "Add message if package is loaded in an ECS container and aws.ec2metadata isn't installed"
This would make it a little easier friendlier

[2020-04-03 01:49] s-u opened #52 "`read_credentials()` loads incorrectly trailing lines as the value (incl. embedded newlines)"
Please specify whether your issue is about:

 - [X] a possible bug
 - [ ] a question about package functionality
 - [ ] a suggested code or documentation change, improvement to the code, or feature request

[code]

Expected: `key=ABC`, `secret=DEF`
Actual:

[code]

Note the embedded newline in the secret and the trailing content causing the authentication to fail.

[code]

[2020-04-03 08:30] jon-mago commented on #52
Thanks for this bug report.  I'll try and get a fix out soon

[2020-04-03 11:29] s-u commented on #52
Thanks, much appreciated!

[2020-04-11 14:13] vspinu opened #53 "Support for `.aws/config`?"
Please specify whether your issue is about:

 - [ ] a possible bug
 - [ ] a question about package functionality
 - [x] a suggested code or documentation change, improvement to the code, or feature request

My `.aws/config` file has entries like this

[code]

Which specifies both region and role. This works with aws cli and, surely, there is a common expectation that it should work here as well.

[2020-04-11 14:23] vspinu commented on #32
I think the default .aws/config should be used instead of inventing custom configurations options. #53

[2020-04-13 19:10] mikekaminsky opened #54 "locate_credentials() should be more informative"
Please specify whether your issue is about:

 - [ ] a possible bug
 - [ ] a question about package functionality
 - [X] a suggested code or documentation change, improvement to the code, or feature request

When calling `locate_credentials(profile='myprofile')` I was surprised to see that it kept returning the credentials associated with a different profile. This appears to happen because `locate_

[2020-04-15 10:35] jon-mago commented on #54
The behaviour is intended (in line with how the official SDKs work): https://boto3.amazonaws.com/v1/documentation/api/latest/guide/configuration.html#configuring-credentials - env variables have precedence over profiles.

However, printing a warning in that case (profile specifically provided, but environment will be used) would be a helpful thing to do.

[2020-04-15 10:56] jon-mago commented on #53
This is absolutely something I would like to see working.  Thank you for raising this ticket.

It's complicated by (as was noted over in cloudyr/aws.iam#13) a lot of the needed functionality being split over the two packages.  I think to support this all of the credentials type code (parsing the config files, running down the list [here](https://boto3.amazonaws.com/v1/documentation/api/latest/guid

[2020-04-15 14:12] mikekaminsky commented on #54
Interestingly, while I agree that the documentation is a little bit unclear, the way the python SDK works matches my expectations, not the way this library currently works.

[code]

Where of course I have these lines in my `~/.aws/credentials` file:

[code]

That is, settting the profile-name in the `boto3.Session()` method _**overrrides**_ the credentials that are present in the environment.

I t

[2020-04-15 15:15] jon-mago commented on #54
Okay, I agree we should be in line with running behaviour.

I just wish the documentation was clearer about that.

[2020-04-15 16:22] mikekaminsky commented on #54
Yeah, for sure. I was initially surprised when I looked at the docs from your answer, but I've used `boto3` pretty extensively which was I expected this to work in `aws.signature`. This statement:

Should refer to both credentials _**and**_ a profile name -- I think in this context, when the authors say "credentials" they mean not only the keys themselves, but also any manner of "selecting" creden

[2020-04-15 16:23] mikekaminsky commented on #54
I can take a stab at this this weekend -- do you have concerns about breaking functionality that other folks might be relying on in terms of the current order-of-credentials-search? Or would you be comfortable releasing this straight-away?

[2020-04-15 17:17] jon-mago commented on #54
That's a fair interpretation, and it's certainly not inconsistent with how boto3 works.  Just not being aware of how that worked in this precise case, I was reading it differently. Ah well.

I really have very little idea how this is being used in the wild.  I'm tempted to maybe say release it when it's done.  If it turns out that breaks a lot of code, I'd probably have to roll it back, gated behi

[2020-04-15 17:24] mikekaminsky commented on #54
That works for me — love the shipit-first attitude. Hopefully Ill be able
to make progress on this this weekend.

On April 15, 2020 at 12:18:04 PM, Jonathan (notifications@github.com) wrote:

That's a fair interpretation, and it's certainly not inconsistent with how
boto3 works. Just not being aware of how that worked in this precise case,
I was reading it differently. Ah well.

I really have very

[2020-04-15 19:34] jonthegeek opened #56 "aws.* coordination"
Hi there! I recently took over maintenance of aws.lambda and aws.ec2. A few of us are using the cloudyr slack to coordinate ideas for the aws.* family of packages, and aws.signature is fairly central to that idea.

Are you in that slack? I see another Jon there, maybe that's you? If so, can you join us in the #aws channel? If not, can you join via https://forms.gle/GhZoRqLQLcSjcmYh9 ?

I look forw

[2020-04-16 08:42] jon-mago commented on #54
I mean, if you can add an opt out option as part of re-writing the ordering, I think that's a better solution

[2020-04-16 14:19] mikekaminsky commented on #54
I’ll give it a shot — I’ve never really worked with the opts before but I
assume if I drop a code flag in there you can help me make it actually good.

On April 16, 2020 at 3:42:22 AM, Jonathan (notifications@github.com) wrote:

I mean, if you can add an opt out option as part of re-writing the
ordering, I think that's a better solution

—
You are receiving this because you authored the thread.
Re

[2020-04-16 16:49] jon-mago commented on #54
Happy to help with things like that, yes

[2020-04-22 00:09] andrewcstewart opened #58 "aws.signature::locate_credentials() reporting wrong region"
Hey there.  I may have encountered a bug.

While troubleshooting some access issues, I discovered that `aws.signature::locate_credentials()` is reporting my region as `us-east-1`, while I can verify that `us-east-1` appears no where in my `.aws` profile, any stray environment variables, Renviorn, etc.

**edit**: I should stress that my profile config explicitly sets my default region to `us-west-2

[2020-04-22 12:22] jon-mago commented on #58
Hi there, thanks for reporting this issue.

This is a known issue.  As it stands right now aws.signature doesn't read in `.aws/config` (#53).  At the moment, as a work around, you can either set the `AWS_DEFAULT_REGION` env variable, or set the `option(cloudyr.aws.default_region = 'us-west-2')` before you use a method.

I hope this helps?

[2020-05-27 22:19] s-u opened #59 "signature_v4_auth only produces unsigned payload requests"
Please specify whether your issue is about:

 - [ ] a possible bug
 - [ ] a question about package functionality
 - [X] a suggested code or documentation change, improvement to the code, or feature request

`signature_v4_auth()` produces unsigned payload requests, because it doesn't add `x-amz-content-sha256` to the canonical headers (see https://docs.aws.amazon.com/AmazonS3/latest/API/sig-v4-head

[2020-05-29 12:03] #52 closed

[2020-05-29 12:05] jon-mago commented on #59
I'll look into this.  Thanks for raising it!

[2020-05-29 12:14] jon-mago commented on #59
Also, looking at the code, wow.  I feel like the `canonical_headers` needs some work in general.  Lets just hope no-one ever wanted to send a filename in a body...

[2020-05-29 13:11] jon-mago commented on #59
Looking more into this, according to the docs the signed body is required (and certainly features in all of their examples).  But we've not generated it so far.  So I'm unsure whether I should change it to generate that by default.

[2020-05-29 22:32] s-u commented on #59
It shouldn't hurt unless the caller has changed the body. But good question - it would be nice to have a general `aws.*` test suite so we could check if changes break other dependent packages ...

[2020-06-01 11:55] jon-mago commented on #59
Okay, I've released a version which has the facility to generate that header.  So it can at least be used by packages.  When I have a better idea of how to test it, it can switch to default `TRUE` instead.

[2020-06-24 17:35] wpenglish opened #60 "Authorization for API Gateway Request"
Please specify whether your issue is about:

 - [ ] a possible bug
 - [O] a question about package functionality
 - [ ] a suggested code or documentation change, improvement to the code, or feature request

Hello! I am new to R and I am trying to write some functionality for others to use AWS API Gateway. I was wondering if you would be able to provide an example or some direction for getting auth

[2020-06-25 12:44] jon-mago commented on #60
Unfortunately there isn't (yet) a nice and easy method for getting all the of headers and such you'd need in a format which can be added via `add_headers`.  So I think you'd have to do something like:

[code]

[2020-06-25 14:54] wpenglish commented on #60
Thank you! I think I am getting closer. When I add in the code provided at get a "400 Bad Request", which is something I have yet to see when trying to GET in any environment with this API.

[2020-06-25 15:26] jon-mago commented on #60
Great!  Was that format correct, or did you have to things?

[2020-06-25 15:29] wpenglish commented on #60
It was correct! Thank you!

[2020-06-25 17:11] wpenglish commented on #60
I was wrong, I didn't do full testing. I accidentally only tested on ones that didn't need authentication. I am now getting ""The request signature we calculated does not match the signature you provided. Check your AWS Secret Access Key and signing method. Consult the service documentation for details.". I haven't had time to look into what is different, but I will soon

[2020-06-25 20:08] #60 closed

[2020-10-09 02:17] davidski commented on #53
A reference to how the paws package is handling the credential_process problem - https://github.com/paws-r/paws/commit/86de247d17ff5d020ba73e4f63da345ffc8acbe3, and an approach for source_profile as well - https://github.com/paws-r/paws/issues/253#issuecomment-698606017. Would be _fantastic_ to get similar support in the cloudyr ecosystem!

[2021-02-17 21:06] #54 closed

[2021-03-08 17:19] cboettig opened #61 "Allow functions to temporarily unset values found in ~/.aws/credentials?"
Package functions allow us to override the default credentials found in `~/.aws/credentials` with alternative values, but we have no comparable way to merely "blank" or unset those credentials.  This creates unexpected behavior and errors that can be difficult to debug.  For example,  if you have no `aws_secret_access_key` defined in `~/.aws` files, then the following code successfully uploads to

[2021-09-23 16:59] markdouthwaite opened #62 "Add support for assuming roles from web identity"
Please specify whether your issue is about:

 - [ ] a possible bug
 - [ ] a question about package functionality
 - [x] a suggested code or documentation change, improvement to the code, or feature request

**Description**

It'd be great if this package supported [assuming roles from web identity tokens](https://docs.aws.amazon.com/STS/latest/APIReference/API_AssumeRoleWithWebIdentity.html):

[2022-03-29 05:09] parul157 commented on #62
Hi @jon-mago, thanks for merging the PR.
Can we also publish a new version and do CRAN release if possible?

[2022-08-10 22:51] w0otness opened #64 "Date header missing time components"
https://github.com/cloudyr/aws.signature/blob/8631c42cd5ec964d3a8be1df69797148699aba12/R/signature_v4.R#L54
`  date = format(Sys.time(), "%Y%m%dT%H%M%S%z")`
Requests will only work for 5mins after midnight currently.

[2022-09-20 00:39] nick-youngblut commented on #58
Any progress on this issue?

[2022-11-16 18:53] tomsing1 opened #65 "Support for AWS SSO (IAM Identity Center)"
Please specify whether your issue is about:

 - [ ] a possible bug
 - [ ] a question about package functionality
 - [x] a suggested code or documentation change, improvement to the code, or feature request

Our organization has recently switched to IAM Identity Center (formerly known as AWS SSO) for for authentication. Users obtain temporary credentials for a configured profile with the `aws sso l